
        body{
            margin: auto;
        }
        /* NavBar */
        #navbar{
            position: sticky;
            top: 0px;
            width: 100%;
            height: 60px;
            background-color: black;
        }
        #nav{
            display: flex;
            justify-content: space-between;
            width: 90%;
            max-width: 1300px;
            margin: auto;
            
        }
        #pare1{
            display: flex;
            align-items: center;
        }
        #menu{
            margin-right: 30px;
            margin-left: 22px;
        }
        #menu>div{
            width: 35px;
            height: 4px;
            background-color: white;
            border-radius: 10px;
            margin: 6px 0;
        }
        #header_logo>a>img{
            height: 60px;
        }

        #pare2{
            color: white;
            display: flex;
            align-items: center;
        }
        #pare2>div{
            margin-right: 22px;
            font-size: 15px;
            /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
        }
        #pare2>div>a{
            text-decoration: none;
            color: white;
        }
        #pare2>div>a>button{
            height: 42px;
            padding-left: 10px;
            padding-right: 10px;
            color: white;
            font-size: 16px;
            /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
            border: 0.5px solid black;
            border-radius: 6px;
            background-color: rgb(46, 159, 46);
        }

        a{
            cursor: pointer;
        }

        @media all and (max-width:860px){
            #pare2>div>a{
                font-size: 0px;
            } 
        }
        @media all and (min-width:80px) and (max-width:600px){
            #navbar{
                width:600px;
            }
        }

        /* Side-Navbar */
#side-navbar div {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}
#navbar nav ul li a {
  color: #fff;
  text-decoration: none;
}

#side-navbar .active {
  background-color: #e5e8ec;
}

#side-navbar {
  display: flex;
  flex-direction: column;
  width: 0;
  height: 100vh;
  background: #fff;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  font-size: 14px;
}
#side-navbar a {
  text-decoration: none;
  font-size: 18px;
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  cursor: pointer;
  padding: 19px 20px;
  color: #323a44;
  transition: 0.1s;
}

#side-navbar a .fa-solid {
  margin-right: 10px;
}

#side-navbar .change-city {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#side-navbar .change-city .cityName {
  font-size: 14px;
  font-weight: bold;
  color: #10a310;
}

#side-navbar .change-city > div {
  color: #323a44;
  font-size: 14px;
}
@media all and (max-width: 900px) {
  #navbar nav ul {
    width: 0;
    font-size: 0;
  }
}
        /* King */
        #king{
            width: 90%;
            margin: auto;
            max-width: 1300px;
        }

        /* Content */
        #top1{
            display: flex;
            border-radius: 10px;
            justify-content: center;
            position:relative;
            z-index:-1;
            }
        #top1>img{
        width: 100%;
        min-width: 900px;
        max-width: 1300px;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
        }
        #top1>div{
            position: absolute;
            top: 50px;
            left:40px;
            min-width: 700px;
        }
        #top1>div>b{
            color: white;
            font-size: 42px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        #top1>div>p{
            color: white;
            font-size:17px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        #top1>div>a>button{
            height: 42px;
            padding-left: 10px;
            padding-right: 10px;
            color: white;
            font-size: 20px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border: 0.5px solid black;
            border-radius: 6px;
            background-color: rgb(46, 159, 46);
        }

        /* Video */
        #video{
            display: flex;
            box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
            justify-content: center;
        }
        #video>video{
            height: 480px;
            margin-top: 15px;
            z-index: -1;
        }

        /* Mute/Unmute in Video */
        @font-face {
         font-family: 'Material Icons';
         font-style: normal;
         font-weight: 400;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/materialicons/v126/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
        }

        #video>#button{
            position: absolute;
            margin-top: 430px;
            margin-left: 80%;
            width:38px;
            height: 38px;
           font-family: 'Material Icons';
           font-size: 24px;
           cursor: pointer;
           color: white;
           border: none;
           border-radius: 50%;
           background-color: rgba(195, 199, 196, 0.744);
        }

        
        /* Content */
        #top2{
           display: flex;
           justify-content: center;
        }
        #top2>a>img{
           width: 100%;
           margin-top: 50px;
        }



        #top3{
            margin-top: 80px;
        }
        #top3>div{
            display: flex;
            justify-content: center;
            width: 85%;
            font-size: 40px;
            font-family:Arial, Helvetica, sans-serif;
            margin: auto;
            text-align: center;
        }

        #bot{
            display: flex;
            justify-content: center;
        }
        
        .box1{
            width:50%;
            margin-top: 60px;
            margin-right: 40px;
            margin-left: 40px;
            text-align: justify;
        }
        .box1>h3{
            font-size: 28px;
            margin-top: 50px;
        }
        .box1>p{
            font-size: 18px;
            color: #a6a9ae;
        }

        .box2{
            margin-top: 20px;
            margin-right: 30px;
            
        }
        .box2>img{
            margin-top: 80px;
            width: 300px;
        }

        @media all and (max-width: 650px){
            .box2>img{
                max-width: 0px;
            }
            .box1{
                width: 100%;
                margin:auto
            }
        }

        

        #top4{
            display: flex;
            flex-direction: column;
            width:90%;
        }
        #top4>div>h3{
            margin-top: 100px;
            font-size: 40px;
            font-family:'Times New Roman', Times, serif;
        }

        #child{
            display: flex;
            min-width: 860px; 
            max-width:1000px;
            margin-left:10%;
            overflow:auto;
        }
        #child>div{
            width:35%;
            margin-right: 20px;
        }
        #child>div>img{
            height: 180px;
            margin-bottom: 30px;
        }
        #child>div>b{
            font-size: 15px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-bottom: -10px;
        }
        #child>div>p{
            color: #616468;
            font-family:'Times New Roman', Times, serif;
            text-align: justify;
        }
        
        

        #top5>h3{
            margin-top: 120px;
            font-size: 45px;
            font-family:'Times New Roman', Times, serif;
        }
        #top5>p{
            color:#616468;
            margin-top: 80px;
            font-size: 18px;
        }
        #top5>#child2{
            display:flex;
            justify-content: center;
            width: 1000px;
            margin: auto;
            text-align: center;
        }
        #top5>#child2>div{
            width: 230px;
            height: 280px;
            border-right: 2px solid #e0e0e0;;
        }

        #child2>div>img{
            margin-top: 30px;
            margin-bottom: 50px;
        }
        #child2>div>b{
            font-size: 30px;
        }
        #child2>div>p{
            margin-top: 80px;
            font-family: IBM Plex Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
            color: #82868b;
        }

        
        #top6>h3{
            min-width: 700px;
            margin-top: 80px;
            margin-left: 4%;
            font-size: 40px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        #top6>h3>span{
            color: #1bb11b;
        }
        #top6>button{
            height: 48px;
            width:180px;
            color: white;
            margin-bottom: 20px;
            margin-left: 4%;
            font-size: 20px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border: 0.5px solid black;
            border: none;
            border-radius: 6px;
            background-color: #1bb11b;
        }
        #top6>a{
            color: #1bb11b;
            margin-left: 4%;
        }

        #top6>div{
            display: flex;
            justify-content: center;
            max-height: fit-content;
            min-width: 900px;
            margin-top: 4%;
            background-image: linear-gradient(270deg,#444,#000);
            border-radius: 10px;
        }
        #top6>div>img{
            padding-left: 75%;
            padding-right: 5%;
            padding-top: 50px;
            padding-bottom: 180px;
        }

        #child3{
            display: flex;
            flex-direction: column;
            color: white;
        }
        #child3>h3{
            font-size: 33px;
            margin-left: 60px;
            margin-top: -320px;
        }
        #child3>#p{
            font-size: 18px;
            margin-left: 60px;
            margin-top: -40px;
        }
        #child3>button{
            height: 48px;
            width: 170px;
            color: white;
            margin-left: 60px;
            margin-bottom:40px;
            font-size: 20px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border: 0.5px solid black;
            border: none;
            border-radius: 6px;
            background-color: #1bb11b;
        }
        #child3>p{
            width: 90%;
            margin: auto;
            text-align: justify;
            font-size: 16px;
            margin-bottom: 20px;
        }



        #top7{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 70px;
            background-color: #f5f5f5;
            border-radius: 10px;
            font-size: 25px;
            text-align: center;
        }


        *{
            text-decoration: none;
        }
#feedback {
    margin: auto;
    height: 630px;
    width: 85%;
    display: flex;
    overflow: auto;
    /* overflow-x: scroll;  */
   border-radius: 10px;
   gap: 10px;
    margin-top: 50px;
    grid-template-columns: 212px auto;
    background-color: rgb(245, 245, 245);
    margin-bottom: 60px;
}
#first-box>h3 {
    width: 150px;
}

 #feedback div {
    height: 500px;
    width: 250px ; 
    margin-top: 30px;
    margin-left: 30px;
   
} 

.amigo-home__heading--reviews {
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    color: #1f1f1f;
    margin: 0 0 2px;
    grid-area: heading;
   
}

.amigo-home__text--review {
 color :rgb(31, 31, 31);
 padding-bottom: 12px;
    margin: 0;
    gap: 20px;
}


.amigo-home__text--reviewer-details {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: .24px;
    color: #666;
} 
.host-box-8 {
    padding-top: 30px;
    display: grid;
     grid-template-columns: 200px 500px; 
    border: 1px solid red;
    width: 80%;
    margin: auto;
}

.host-box-8-L-font {
    font-size: 22px;
}

.host-box-8-R {
    text-align: top;

    margin: auto;
    display: grid;
    grid-template-columns: 500px 50px;
}

.host-box-8-R-font {
    font-size: 17px;
}

.host-box-8-R-img {
    text-align: center;
    width: 30px;
    height: 30px;
}

.host-box-8-border {
    border: solid 1.2px #BDBDBD;
    width: 100%;
    /* height: 20px; */
}
#footer_1 {
   background-color: rgb(245, 245, 245);
    height: 180px;
    width: 85%;
    margin: auto;
    align-items: flex-start;
     margin-top: 20px;

}
#footer_1>img{
    margin-top: 30px;
    margin-left: 40px;
}

#last>p{
margin-left: 90px;
color: #b57e66;
}